.header {
	background-color: none;
  padding-bottom: 15px ; 
  padding-top: 10px;
}

.header ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}


/******* NAV *******/

.logo {
  float: left;

}

#round a {
	border-radius: 5px;
  border: 3px solid #005754;
	background-color: none;
  color: none;
  text-align: center;
  text-decoration: none;
  float: right; 
  cursor: pointer;
}

#space a {
  float: right;
  margin-top: 3px;
}

.header ul li a  {
	font-size: .875em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	list-style-type: none;
  color: #005754;
  text-decoration: none;
  padding: 14px 16px;
  
 
}


/******* GRID *******/
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
	background-color: none;

 }
 .container:before,
 .container:after {
   content: ;
   display: table;
 }
 .container:after {
   clear: both;
 }

 @media (min-width: 768px) {
   .container {
     width: 950px;
   }
/******GRID********/





/******* HERO *******/
.hero {
	background: url(images/bigstock-Mother-and-Daughter-having-fun-23784977.jpg);
	width: 100%;
	height: 600px;
}


.heroshot {
	background: none;
	padding: 100px 10px ;
	margin: 0 auto;
	width: 60%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
}

.button {
    padding: 15px 90px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: #005754;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/*******SLOGAN********/

 .slogan {
  background: url(images/familycollage-01.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 400px;
 } 

 .line {
  width: 100%;
    /* margin: 90px 0px; */
    position: relative;
 }
  
.poster {
  background: white;
  opacity: 0.8;
  margin: 0 auto;
  position: relative;
  top: 160px;
  padding: 1px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;

}


/*********TRY*******/

/* Also the arrow pointing to the sirba sign below "give it a try" 
how should I incorporate that into the code. Should I code an image or is ther another way?*/

.contain {
  background-color: #d8d8d8;
}

.try {
  background: none;
  padding: 90px 10px ;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.try p {
  margin: 0px;
}

.color {
  color: #005754;
}

.left  {
  background: none;
  width: 50%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  float: left;
 
}

.right {
  background: red;
  width: 50%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-left: 50%;
  padding-bottom: 8%;
}




/*********ACCOUNTS***********/

/* I'm trying to figure out why there is a gap between the container "heading" & the container "price" 
I tried finding where the gap is coming from maybe its a margin from something. I'm not sure*/

.accounts {
  background-color: white;
}

.heading {
  padding-top: 30px;
  text-align: center;
  background-color: green;
}

.heading h1 {
  margin: 0px;
}

.heading p {
  margin: 0px;
}

.price {
  background-color: violet;
  margin: 0 auto;
  height: 600px;
}

.firstbox {
  margin-left: 6%;
  width: 26%;  
  position: relative;
  top: 80px;
}

.secondbox {
  margin: 0 auto;
  width: 26%;
  text-align: center;
  position: relative;
  bottom: 290px;
}

.thirdbox {
  margin-left: 68%;
  width: 26%;
  text-align: center;
  position: relative;
  bottom: 658px;
  
}


.first {
 
  text-align: center;
  background-color: #d8d8d8;
  padding-bottom: 3px;
}

.list {
  padding-top: 10px;
}



.first h3 {
  background-color: #005754;
  padding: 10px 0px;
  color: white;
}

.first h1 {
  color: #005754;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
}


.mid {
 
  text-align: center;
  background-color: #d8d8d8;
  padding-bottom: 3px;
}

.midbox {
  padding-top: 10px;
}

.mid h3 {
  background-color: #005754;
  padding: 10px 0px;
  color: white;
}

.mid h1 {
  color: #005754;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
}


.trial {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  position: relative;
  bottom: 580px;
  padding: 1px 0px;
  width: 30%;
  color: white;
  background-color: #005754;
}



/********footer**********/

.footer {
  background-color: #3c3c3b;
  padding: 40px 40px;
}

.text {
    list-style-type: none;
    margin: 0;
    width: 50%;
    padding: 0;
    overflow: hidden;
    color: white;
    top: 20px;
    position: relative;
    padding-left: 20px;
}

.text li {
  display: inline;
  padding: 5px 5px;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;


}

.text li a {
    color: white;
    text-align: none;
    text-decoration: none;
}

.links {
  margin-left: 90%
}

