.header {
	background-color: white;
	padding: 10px 190px 10px;
	margin-bottom: 10px;
} 

.header ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

.header ul li a  {
	font-size: .875em; 
	font-family: 'Ubuntu', sans-serif;  
	font-weight: 500;
	list-style-type: none;
    color: #005754;
    text-decoration: none;
    padding: 14px 16px;
    float: right;
}

.logo {
	position: absolute;
	left: 100px;
	top: 10px; 
}


#round {
	position: absolute;
	right: 100px;
	top: 22px; 
}

#round {
	border-radius: 5px;
    border: 2.5px solid #005754;
    width: 85px;
    height: 25px;
    position: absolute;
	background-color: none; 
}

#round {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center }
#round {
  margin: 0 }


.hero {
	background: url(images/bigstock-Mother-and-Daughter-having-fun-23784977.jpg);
	width: 1345px;
	height:600px;
}


.redrow {
	background: red;
	margin: 0 auto;
	width: 60%;
	text-align: center;
}

.accounts {
	display: block;
	text-align: center;
}

.firstbox {
	text-align: center;
	width: 20%;
	text-align: center;
}

.secondbox {
	text-align: center;
	width: 20%;
}

.thirdbox {
	text-align: right;
	width: 20%;
}

.blocks {
	background: #088DA5;
	text-align: center;
}

.greybox {
	background: #d1d3d4;
	text-align: center;
}

ul.left {
	list-style-type: none;
}
